<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Стратегии АБ-тестирования{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<header>{% block header %}{% endblock %}</header>
<nav>
    {% block navigation %}
    {% endblock %}
</nav>
<body>
<div class="container-fluid">
    <article>
        {% block content %}{% endblock %}
    </article>
</div>
</body>
{% block javascript %}{% endblock %}
</html>