{% extends "landing/base_generic.html" %}
{% load static %}

{% block header %}
    <h1>Стратегии AB-тестирования</h1>
    <p>AB-тестирование вариантов email-рассылок с помощью статистических тестов и многоруких бандитов.</p>
{% endblock header %}

{% block content %}
    <section id="abstract">
        <header><h2>Улучшение email-рассылок с помощью AB-тестирования</h2></header>
        <p>
            Эта статья посвящена AB-тестированию рассылок.
        </p>
        <p>
            В ней сравниваются два подхода к тестированию рассылок: повсеместно распространенный, основанный на
            статистических тестах, и менее распространенный, основанный на концепции многоруких бандитов.
        </p>
        <p>
            Сравнение включается в себя сложности освоения, удобство использования, наличие и стоимость инструментов для
            проведения AB-тестов каждого вида.
            Также мы сравнили эффективность обоих методов на данных по Р реальным рассылкам, отправленных за 20ГГ-2019
            годы К компаниями.
        </p>
        <p>
            В конце статьи представлен симулятор AB-тестирования.
            На нем можно посмотреть, как ведут себя подходы на данных из реальной рассылки, а также ввести свои.
        </p>
    </section>
    <section id="introduction">
        <header><h2>Введение</h2></header>
        <!--Тут нужно поживее расписать, а то как в учебнике!-->
        <p>
            Пусть есть несколько вариантов рассылки.
            Варианты в целом похожи, но отличаются в нюансах: цвет фона, расположением картинок, товарами в блоке
            рекомендаций, темой письма. Поэтому каждому клиенту можно отправить только один из вариантов.
        </p>
        <p>
            У рассылки есть цель: увеличить продажи, привлечь посетителей на сайта, убедить пройти опрос.
            Чтобы выполнить ее максимально хорошо, нужно использовать самый эффективный из вариантов.
            Но изначально неизвестно, какой из вариантов лучше, и узнать это можно только разослав часть рассылки и
            посмотрев на отклик.
        </p>
        <p>
            Эта статья рассказывает о двух подходах к сравнению вариантов рассылок - AB-тестировании и бандитское
            тестирование.
        </p>
        <p>
            AB-тестирование предлагает сначала рассылать варианты писем максимально равномерно, в максимально сжатые
            сроки получить максимум информации, а затем, когда ее накопится достаточно, оставить только один вариант,
            показавший себя лучше остальных.
        </p>
        <p>
            Бандитское тестирование предлагает не дожидаться, пока лучший вариант неоспоримо докажет, что он лучший.
            Начинают с отправки вариантов максимально равномерно, но получив первые отклики, направляют больше писем с
            хорошо показавшими себя вариантами и меньше с плохими.
            И чем увереннее вариант обгоняет другие - тем большую долю писем на него посылают.
        </p>
        <p>
            В первых двух частях статьи подробно рассказывается об этих подходах: какая математика
            за ними стоит, нюансы практического применения, интерпретация результатов, и какие есть инструменты на
            рынке.
        </p>
        <p>
            Третья часть сравнивает два этих подхода: сложности обучения, опыт использования, и приводит результаты
            нескольких настоящих рассылок.
        </p>
        <p>
            Четвертая часть представляет собой симулятор рассылки.
            На нем можно сравнить посмотреть, как ведут себя подходы на данных из реальной рассылки, либо ввести свои.
        </p>
    </section>
    <section>
        <header><h2>AB-тестирование с помощью статистических тестов</h2></header>
        Секция в разработке
    </section>
    <section>
        <header><h2>Бандитское тестирование</h2></header>
        Секция в разработке
    </section>
    <section>
        <header><h2>Сравнение AB-тестов с бандитскими</h2></header>
        Секция в разработке
    </section>
    <section id="simulator">
        <header><h2>Симулятор AB-теста</h2></header>
        Секция в разработке
        <section>
            <header><h3>Чего должно быть</h3></header>
            <img src="{% static 'images/ab-test-with-z-test-stub.jpg' %}" alt="Графики для Z-теста">
            <img src="{% static 'images/ab-test-with-bandits-stub.jpg' %}" alt="Графики для AB-теста">
        </section>
        <section>
            <header><h3>Как должны выглядеть графики</h3></header>
            <div id="ctr-plot"></div>
        </section>

    </section>


{% endblock content %}

{% block javascript %}

    <script type="text/javascript" src="https://code.highcharts.com/highcharts.js"></script>
    <script type="text/javascript" src="https://code.highcharts.com/modules/exporting.js"></script>
    <script type="text/javascript" src="https://code.highcharts.com/modules/export-data.js"></script>
    <script type="text/javascript" src="{% static 'js/make-ctr-plot.js' %}"></script>
{% endblock javascript %}
