{% extends "landing/base_generic.html" %}

{% block header %}
    <h1>Стратегии AB-тестирования</h1>
    <p>AB-тестирование вариантов email-рассылок с помощью статистических тестов и многоруких бандитов.</p>
{% endblock header %}

{% block content %}
    <section>
        <header><h2>Улучшение email-рассылок с помощью AB-тестирования</h2></header>
        <p>
            Исследуется такая задача: есть несколько вариантов рассылки.
            Варианты в целом похожи, но отличаются в нюансах: цвет фона, расположением картинок, товарами в блоке
            рекомендаций, темой письма. Поэтому каждому клиенту можно отправить только один из вариантов.
        </p>
        <p>
            У рассылки есть цель: увеличить продажи, привлечь посетителей на сайта, убедить пройти опрос.
            Чтобы выполнить ее максимально хорошо, нужно использовать самый эффективный из вариантов.
            Но изначально неизвестно, какой из вариантов лучше, и узнать это можно только разослав часть рассылки и посмотрев на отклик.
        </p>
        <p>
            Первый способ узнать лучши
            Зная отклик, остальным получателем можно отправлять вариант, показавший себя лучше других.
            Такое сравнение вариантов называют AB-тестированием.
            Первая часть этой статьи рассказывает о нескольких способах проводить AB-тестирование, какая наука за ними стоит и когда стоит их применять.
            Часть из них возникла из особенностей бизнес-задач, часть пришла из математической статистики.
        </p>
        <p>
            Вторая часть статьи рассказывает другим подходе - концепции многоруких бандитов и как ка
        </p>
        <p>Эта статья сравнивает два популярных инструмента для поиска наилучшего варианта:</p>
        <ul>
            <li>AB-тестирование</li>
            <li>Многорукие бандиты</li>
        </ul>
        <p>
            Мы расскажем о нескольких подходах, как искать лучший вариант и как при
        </p>
        <p>
            Это исследование посвящено
        </p>
    </section>
    <section>
        <header><h2>Попробовать самому</h2></header>
        <p>Секция в разработке</p>
        <div id="ctr-plot"></div>
    </section>
    <section>
        <header><h2>Попробовать самому</h2></header>
        <p>Секция в разработке</p>
        <div id="ctr-plot"></div>
    </section>


{% endblock content %}

{% block javascript %}
    <script type="text/javascript" src="https://code.highcharts.com/highcharts.js"></script>
    <script type="text/javascript" src="https://code.highcharts.com/modules/exporting.js"></script>
    <script type="text/javascript" src="https://code.highcharts.com/modules/export-data.js"></script>
    {% load static %}
    <script type="text/javascript" src="{% static 'js/make-ctr-plot.js' %}"></script>
{% endblock javascript %}
